.paymentSuccess {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 4rem 15rem;

  .payment-confirmation {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    text-align: center;
    .status {
      .check-icon {
        width: 80px;
        margin-bottom: 20px;
      }
    }

    .share-box {
      width: 100%;
      background-color: #e9d6f7;
      border-radius: 10px;
      fill: rgba(121, 48, 216, 0.19);
      stroke-width: 0.5px;
      stroke: rgba(121, 48, 216, 0.5);
      padding: 3rem;
      margin-top: 20px;
      display: flex;
      flex-direction: column;
      gap: 10px;

      .buttons {
        display: flex;
        justify-content: center;
        gap: 30px;

        button {
          padding: 0.75rem 4rem;
          border-radius: 10px;
          border: none;
          font-size: 16px;
          cursor: pointer;
          font-weight: 600;

          &.yes {
            border-radius: 7.053px;
            background: #7930d8;
            color: #fff;
          }

          &.no {
            border-radius: 7.053px;
            border: 0.588px solid rgba(121, 48, 216, 0.5);
            background: rgba(121, 48, 216, 0.07);
            color: #555;
          }

          &:hover {
            opacity: 0.9;
          }
        }
      }
    }
  }
}
