.detail-popUp {
  width: 80%;
  max-width: 35rem;
  height: auto;
  min-height: 18rem;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
  z-index: 1000;
  padding: 2rem;
  border-radius: 10px;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.2);

  @media (max-width: 768px) {
    width: 90%;
    max-width: 30rem;
    padding: 1.5rem;
  }

  p {
    text-align: center;
    margin: -20px 0;
  }

  .close-btn {
    position: absolute;
    top: 1rem;
    right: 1rem;
    cursor: pointer;
    font-size: 1.2rem;
    color: #666;
    width: 30px;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: color 0.3s ease;
    
    &:hover {
      color: #7930d8;
    }
  }

  .detail-popUp-container {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;

    button {
      background-color: #7930d848;
      cursor: pointer;
      padding: 0.5rem 2rem;
      border: none;
      outline: none;
      border-radius: 10px;
      border: 1px solid #7930d812;
    }
  }
}

// For button change color
.change_btn_color {
  border-radius: 7.053px;
  border: 0.588px solid rgba(121, 48, 216, 0.5);
  background: #7930d8 !important;
  color: white;
}

/* To hide body */
.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background: rgba(0, 0, 0, 0.8); /* Dark overlay */
  backdrop-filter: blur(5px); /* Optional blur effect */
  z-index: 999; /* Ensure it's above everything */
}
